#file-upload_progress {
    width: 100%;
    background-color: #f3f3f3;
    margin-top: 20px;
}

#progress-bar {
    width: 0;
    height: 30px;
    background-color: #4caf50;
    text-align: center;
    color: white;
}
